body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-info-input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-title-container {
  background-color: #f5f5f5;
}

.form-title {
  margin: 20px 10px 0;
  line-height: 19.2px;
}

.form-title:last-child {
  margin-bottom: 48px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
}

.form-input-container > input {
  margin-top: 20px;
}

.form-input-container > input:first-child {
  margin-top: 22px;
}

.form-radio-container {
  margin-top: 20px;
}

.form-select-container {
  margin-top: 20px;
}

.form-checkbox-container {
  margin-top: 20px;
}

textarea {
  margin-top: 20px;
}

.form-button-container {
  margin: 10px auto;
  width: fit-content;
}
